@using bbxp.lib.Transports.Content
@model bbxp.lib.Transports.Content.ContentResponseItem

@{
    ViewData["Title"] = @Model.Title;
}

<h1 class="my-4">@Model.Title</h1>

<div class="card" style="margin-top: 10px">
    <div class="card-body bg-dark">
        @Html.Raw(Model.Body)
    </div>
</div>