@model bbxp.MVC.Models.ContentViewModel

@{
    ViewData["Title"] = @Model.Title;
}

<h2 class="PageTitle">@Model.Title</h2>

<div id="PostContainer">
    <div id="ContentContainer">
        @Html.Raw(Model.Body)
    </div>
</div>