@model List<bbxp.CommonLibrary.Transports.Posts.PostResponseItem>

@{
    ViewData["Title"] = "Home";
}

<h2 class="PageTitle">latest posts</h2>

@foreach (var post in Model) {
    @Html.Partial("_PostPartial", post)
}