@page "/"
@namespace bbxp.blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jarred Capellman</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/bbxp.blazor/_framework/scoped.styles.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Jarred Capellman</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <partial name="UnAuthenticatedNav" />
                </ul>
            </div>
        </div>
    </nav>

    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <footer>
        <p>
            &copy;1995-@DateTime.Now.Year Jarred Capellman. Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer’s view in any way.<br />
            <a href="/stats">website stats</a><br /><br />
            <a href="http://github.com/jcapellman/bbxp" target="_blank">bbXP version 10.3.0.092720</a>
        </p>
    </footer>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>