@page "/content/{contentURL}"

@using bbxp.lib.Transports.Content

@inject bbxp.lib.DAL.BbxpDbContext dbContext
@inject bbxp.lib.Interfaces.IContentService cService

<div class="card mb-10" style="margin-top: 10px;">
    <div class="card-body bg-dark">
        <h1>@ContentItem.Title</h1>

        @((MarkupString)ContentItem.Body)
    </div>
</div>

@code
{
    private ContentResponseItem ContentItem { get; set; }

    [Parameter]
    public string contentURL { get; set; }

    protected override void OnInitialized()
    {
        ContentItem = cService.GetContent(dbContext, contentURL);
    }
}