@using bbxp.lib.Transports.Posts

<div class="card mb-10" style="margin-top: 10px;">
    <div class="card-body bg-dark">
        <h2 class="card-title">@PostItem.Title</h2>
        @((MarkupString)PostItem.Body)
    </div>

    <div class="card-footer text-muted bg-dark">
        Posted on @PostItem.PostDate.ToString("MMM dd, yyyy")
    </div>
</div>
<br />

@code {
    [Parameter]
    public PostResponseItem PostItem { get; set; }
}