@page "/search"

@inject bbxp.lib.DAL.BbxpDbContext dbContext
@inject bbxp.lib.Interfaces.IPostService pService

<h1 class="my-4">Search</h1>

<div id="ArchivesContainer">
    <input type="text" id="search" placeholder="enter your search term here" @bind="searchQuery" @bind:event="oninput" />

    @if (posts != null && posts.Count == 0)
    {
        <p>No results found</p>
    }
    else if (posts == null)
    {
        // Do nothing
    }
    else
    {
        <h3>Search Results</h3>

        foreach (var post in posts)
        {
            <Post PostItem=@post SinglePost=false />
        }
    }
</div>

@code {
    private List<bbxp.lib.Transports.Posts.PostResponseItem> posts;

    private string _searchQuery;

    public string searchQuery
    {
        get => _searchQuery;

        set
        {
            _searchQuery = value;
         
            posts = pService.PerformSearch(dbContext, _searchQuery);
        }
    }
}