@using bbxp.PCL.Transports.Content
@model bbxp.PCL.Transports.Content.ContentResponseItem

@{
    ViewData["Title"] = @Model.Title;
}

<h2 class="PageTitle">@Model.Title</h2>

<div id="PostContainer">
    <div id="ContentContainer">
        @Html.Raw(Model.Body)
    </div>
</div>