<h2 class="PageTitle">Search</h2>
<div class="PageDescription">enter your search term below.</div>

<div id="ArchivesContainer">    
    <input type="text" id="search" onkeydown="loadPosts()" />
    <div id="searchResults"></div>
</div>

<script type="text/javascript">
       
    function loadPosts() {
        var searchQuery = document.getElementById('search').value;

        if (searchQuery.length < 3) {
            return;
        }

        $.ajax({
            url: '/search/' + searchQuery,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function (result) {
            $('#searchResults').html(result);
        });
    }  
</script>