@model bbxp.lib.Database.Tables.Posts

<div class="post">
    <div class="date">@Model.PostDate.ToLongDateString()</div>
    <h2 class="header">@Model.Title</h2>
    <div class="postbody">@Html.Raw(Model.Body)</div>
</div>