@using bbxp.lib.Transports.Posts
@model List<bbxp.web.Models.PostModel>

@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="my-4">latest posts</h1>

        @foreach (var post in Model)
        {
            @Html.Partial("_PostPartial", post)
        }
        <br/>
    </div>
</div>