@model List<bbxp.MVC.Models.ArchiveListViewModel>

@{
    ViewData["Title"] = "Archives";
}

<h2 class="PageTitle">Archives</h2>

<div id="ArchivesContainer">
    @foreach (var item in Model) {
        <a href="#" onclick="loadPosts('2016/3')">@item.DateString</a>

        <div id="20163"></div>
    }
</div>

<script type="text/javascript">
    function loadPosts(arg) {
        $.ajax({
            url: arg,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'
        }).success(function(result) {
            $('#20163').html(result);
        });
    }
</script>