<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jarred Capellman</title>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div id="LoadingContainer">
        <p id="Loader">
            <img src="~/images/loading.gif" />
        </p>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">Jarred Capellman</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @if (Context.User.Identity.IsAuthenticated)
                    {
                        <partial name="_AuthenticatedNav" />
                    }
                    else
                    {
                        <partial name="_UnAuthenticatedNav" />
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()

        <footer>
            <p>
                &copy;1995-@DateTime.Now.Year Jarred Capellman. Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer’s view in any way.<br />
                <a href="/stats">website stats</a><br /><br />
                <a href="http://github.com/jcapellman/bbxp" target="_blank">bbXP version 10.3.0.092720</a>
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>