<li><a href="/archives">archives</a></li>
<li><a href="/search">search</a></li>
<li><a href="http://www.github.com/jcapellman" target="_blank">github</a></li>
<li><a href="http://twitter.com/jcapellman" target="_blank">twitter</a></li>
<li><a href="http://linkedin.com/in/jarredcapellman" target="_blank">linkedin</a></li>
<li><a href="/content/About-Me">about me</a></li>