@model IndexModel

<div>
    @foreach(var category in Model.Categories)
    {
        <a class="btn" href="/@category/@bbxp.lib.Common.AppConstants.POST_REQUEST_DEFAULT_LIMIT/">@category</a>
    }
</div>

@foreach (var post in Model.Posts)
{
    @await Html.PartialAsync("_Post", post)
}