@model bbxp.lib.Transports.AdminPost.AdminPostResponseItem

<div class="center-block">
    <h2 class="text-center">Edit Post</h2>
    <form method="post" asp-action="UpdatePost">
        <input asp-for="ID" type="hidden" />

        <div class="form-group">
            <label class="label center-block">Title</label>
            <input asp-for="Title" class="form-control center-block" style="max-width: 90%" placeholder="title" required autofocus />
        </div>

        <div class="form-group">
            <label class="label center-block">Body</label>
            <textarea asp-for="Body" class="form-control center-block" style="max-width: 90%" rows="40" cols="60" required></textarea>
        </div>

        <div class="form-group">
            <label class="label center-block">Tags</label>
            <input asp-for="Tags" class="form-control center-block" style="max-width: 90%" placeholder="tags" required />
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary center-block">Save</button>
        </div>
    </form>
</div>