@model List<bbxp.lib.Transports.AdminPost.AdminPostListingItem>

<h2 class="text-center">Posts</h2>

<div class="form-group">
    <a href="/Admin/NewPost" class="btn btn-primary center-block">New Post</a>
</div>

<div class="form-group">
    <a href="/Admin/RegenerateCache" class="btn btn-primary center-block">Regenerate Cache</a>
</div>

@foreach (var post in Model)
{
    <div class="form-group text-center">
        @Html.ActionLink($"{post.PostTitle} ({post.PostDate})", "EditPost", new { id = post.PostID })
    </div>
}