.navbar .navbar-inverse .navbar-fixed-top {
    background-color: #111 !important;
}

.navbar-inverse .navbar-nav {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, 
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: rgb(0, 204, 0) !important;
}

.PageTitle {
    height: 40px;
    background-color: #1e1e1e;
    margin: 5px 0 5px 0;
    text-transform: uppercase;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 10px;
}

.PageDescription {
    height: 40px;
    background-color: #0e0e0e;
    margin: 5px 0 5px 0;
    text-transform: uppercase;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 10px;
}

body {
    background-color: #3e3e3e;
    color: #FFF;
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

a:link, a:visited {
    color: rgb(0, 204, 0);
}

a:hover {
    font-weight: bold;
    text-decoration: none;   
}

input,
select,
textarea {
    max-width: 280px;
    background-color: #0e0e0e;
    color: rgb(0,204,0);
    border: 0;
}

footer p {
    font-size: 10px !important;
    text-align: center;
}

/* Archives */
#ArchivesContainer {
    background-color: #0e0e0e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

#ArchivesContainer #search {
    width: 30%;
    margin-bottom: 10px;
}

#ArchivesContainer .Element {
    background-color: #4e4e4e;
    color: rgb(0,204,0);
    height: 30px;
    line-height: normal;
    margin-bottom: 10px;
}

#ArchivesContainer .Element:hover {
    background-color: #2e2e2e;
    cursor: pointer;
}

#ArchivesContainer .Element .Date {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    line-height: 30px;
    vertical-align: middle;
}

#ArchivesContainer .Element .Count {
    float: right;
    padding-right: 10px;
    line-height: 30px;
    vertical-align: middle;
}

/* End Archives */

/* Stats */
#StatsContainer {
    background-color: #0e0e0e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

#StatsContainer .RequestList {
    color: rgb(0, 204, 0);
}

#StatsContainer .Count {
    color: #FFF;
}

/* End Stats */

#PostContainer {
    margin-bottom: 10px;
}

#PostContainer #Header {
    height: 40px;
    background-color: #1e1e1e;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#PostContainer #Header h4 {
    float: right;
    line-height: 40px;
    padding: 0 !important;
    vertical-align: middle;
    margin: 0 !important;
}

#PostContainer #Header h2 {   
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0 !important;
    color: rgb(0, 204, 0);
    float: left;
    vertical-align: middle;
    line-height: 40px;
    margin-top: 0 !important;
}

#PostContainer #ContentContainer {
    background-color: #0e0e0e;
    padding-left: 10px;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

#PostContainer #TagsContainer {
    height: 30px;
    background-color: #2e2e2e;
    color: rgb(0, 204, 0);
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 30px;
}

#PostContainer #TagsContainer .TagLabel {
    float: left;
    background-color: #1e1e1e;
    width: 60px;
    padding-left: 10px;
    margin-right:10px;
}

#PostContainer #TagsContainer .TagContainer {
    background-color: #4e4e4e;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    border: 1px #000 solid;
    margin-top: 4px;
    margin-right: 10px;
    height: 22px;
    line-height: 22px;
}

#PostContainer #TagsContainer .notags {
    padding-left: 20px;
    color: #FFF;
    text-transform: uppercase;
}

#PostContainer #TagsContainer .TagContainer a {
    color: #FFF;
}

#PostContainer #TagsContainer .TagContainer:hover, #PostContainer #TagsContainer .TagContainer a:hover,
#PostContainer #TagsContainer .TagContainer a:active {
    background-color: rgb(0, 204, 0);
    text-decoration: none;
}

#LoadingContainer {
	margin: 0; padding: 0; position: fixed; right: 0; top: 0; width: 100%; height: 100%; z-index: 30001;display: none;
}

#LoadingContainer #Loader {

    position: absolute; color: White; top: 50%; left: 45%;
}