@page "/"
@using bbxp.lib.Database.Tables;
@inject HttpClient Http

<PageTitle>Index</PageTitle>

@if (posts == null)
{
    <p><em>Loading...</em></p>
} else
{
    @foreach (var post in posts)
    {
        <div class="post">
            <div class="category">@post.Category</div>
            <div class="header">@post.Title</div>
            <div class="postbody">@post.Body</div>
            <div class="date">@post.PostDate.ToLongDateString()</div>
        </div>
    }
}

@functions {
    private List<Posts> posts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        posts = await Http.GetFromJsonAsync<List<Posts>>("https://localhost:7026/api/posts");

        StateHasChanged();

        await base.OnInitializedAsync();
    }
}